@import  "./reset.css";
@import "./media.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #000;
}


.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 30px;
}

.title-1 {
    font-size: 34px;
    font-weight: 600;
    color:  #070707;
}

.btn {
    display: inline-block;
    padding: 7px 22px;
    background-color: #070707;
    border-radius: 30px;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFF !important;

    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.btn:hover, 
.btn:focus {
    background-color: #323232;
}

.btn:active {
    position: relative;
    top: 1px;
    background-color: #000;
}



/* Header */

.header {
    padding-top: 46px;
    background: #F1F1F1;
}

/* NAV */

.header__nav {
    margin-bottom: 76px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.logo {
    padding: 0 12px 3px 0;
    position: relative;  
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1; /* 32px */
    color: #000;
    transition: color 0.2s ease-in;
}

.logo::after {
    position: absolute;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background-color: #FDA300;;
}

.logo:hover {
    color: #606060;
}
/* NAV */

.nav__list {
    display: flex;
    font-size: 14px;
    font-weight: 500;
}

.nav__button {
    display: none;
}

.nav__item + * {
    margin-left: 50px;
}

.nav__item-link {

    color: #000;
    transition: color 0.2s ease-in;
}

.nav__item-link.active,
.nav__item-link:hover {
    color: #606060;
}

/* Header content */
.header__row {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
}

.header__content {
    margin-top: 124px;
    max-width: 500px;
}

.header__heading {
    margin-bottom: 20px;
    font-size: 44px;
    font-weight: 600;
}

.header__text {

    font-weight: 400;
    line-height: 2; /* 28px */
}

.header__img {
}

/* Service section*/

.services {
    padding: 90px 0;
}

.services__row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.service__card {
    max-width: 370px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.service__card-img {
    margin-bottom: 30px;
}

.service__card-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.service__card-text {
    line-height: 2; /* 28px */
}

/* Portfolio section*/

.portfolio {
    padding: 90px 0;
    background-color: #F1F1F1;
}

.portfolio__title {
    text-align: center;
    margin-bottom: 70px;
}

.project {
    text-align: center;
}

.project + .project {
    margin-top: 90px;
}

.project__img {
    margin-bottom: 40px;
}

.project__title {
    font-size: 18px;
    font-weight: 400;

}

.project__title a {
    transition: color 0.2s ease-in;
    text-decoration: underline;
    color: #070707;
}

.project__title a:hover {
    color: #606060;
}



/*  Footer */

.contacts {
    /* max-width: 342px; */
    padding: 90px 0;
    text-align: center;
    /* margin: 0 auto; */
}

.contacts__title {
    
}

.contacts__content {
    max-width: 480px;
    margin: 0 auto 40px;
    font-size: 18px;
}

.contacts__content p + p {
    margin-top: 1em;
}

.contacts__heading {
}

.contacts__button {
    margin-bottom: 80px;   
}

.contacts__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin-bottom: 40px;
}

.subscribe__link {
}

.contacts__footer {
}

.contacts__text {
    font-weight: 400;
    color: #828282;
}
